@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface-color: 255, 255, 255;
  --primary-color: 51, 144, 236;
  --danger-color: 223, 63, 63;
  --primary-text-color:  0, 0, 0;
  --secondary-text-color: 112, 117, 121;
  --border-color: 223, 225, 229;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: 33, 33, 33;
    --primary-color: 134, 116, 225;
    --danger-color: 255, 89, 89;
    --primary-text-color: 255, 255, 255;
    --secondary-text-color: 170, 170, 170;
    --border-color: 47, 47, 47;
  }
}

@layer utilities {
  .h-d-screen { height: 100dvh; }
  .w-d-screen { width: 100dvw; }
}
